// start wedding-couple-section
section#couple.wedding-couple-section.section-padding
  .container
    .row
      .col.col-xs-12
        .gb.groom
          .img-holder.wow.fadeInLeftSlow(style='background-image: url("images/couple/img-1.jpg"); background-size: cover; background-position: center center; visibility: visible; animation-name: fadeInLeftSlow;')
            img(src='./images/groom.jpg', alt='')
          .details(style='height: 456px;')
            .details-inner
              h3 The groom
              p
                | Hi I am Gautam Vaid , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
              span.signature Gautam Vaid
        .gb.bride
          .details(style='height: 456px;')
            .details-inner
              h3 The Bride
              p
                | Hi I am Rekha Ravi , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
              span.signature Rekha Ravi
          .img-holder.wow.fadeInRightSlow(style='background-image: url("images/couple/img-2.jpg"); background-size: cover; background-position: center center; visibility: visible; animation-name: fadeInRightSlow;')
            img(src='./images/bride.jpg', alt='')
    // end row
    // end container
// end wedding-couple-section
