#fh5co-event.fh5co-bg(style='background-image:url(images/img_bg_3.jpg);')
        .overlay
        .container
          .row
            .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
              span Our Special Events
              h2 Wedding Events
          .row
            .display-t
              .display-tc
                .col-md-10.col-md-offset-1
                  .col-md-6.col-sm-6.text-center
                    .event-wrap.animate-box
                      h3 Mehndi Night
                      .event-col
                        i.icon-clock
                        span 7:30 PM
                        span 10:00 PM
                      .event-col
                        i.icon-calendar
                        span Friday 8
                        span March, 2018
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  .col-md-6.col-sm-6.text-center
                    .event-wrap.animate-box
                      h3 Wedding
                      .event-col
                        i.icon-clock
                        span 4:30 PM
                        span 10:00 PM
                      .event-col
                        i.icon-calendar
                        span Saturday 8
                        span March, 2018
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      