#events.fh5co-event.fh5co-bg(style='background-image:url(images/header-1.jpg); background-position-y: -200px')
        .overlay
        .container
          .row
            .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
              span Our Special Events
              h2 Wedding Events
          .row
            .display-t
              .display-tc
                .col-md-10.col-md-offset-1
                  .col-md-6.col-sm-6.text-center
                    .event-wrap.animate-box
                      h3 Sangeet Night
                      .event-col
                        i.icon-clock
                        span 7:30 PM
                        span 10:00 PM
                      .event-col
                        i.icon-calendar
                        span Friday 8
                        span March, 2018
                      <div class="resort_name">Calista Resort</div>
                      p
                        | 37/2-4 Old, NH 48, Kapashera, New Delhi, Delhi 110037
                  .col-md-6.col-sm-6.text-center
                    .event-wrap.animate-box
                      h3 Wedding
                      .event-col
                        i.icon-clock
                        span 4:30 PM
                        span 10:00 PM
                      .event-col
                        i.icon-calendar
                        span Saturday 8
                        span March, 2018
                      <div class="resort_name">Calista Resort</div>
                      p
                        | 37/2-4 Old, NH 48, Kapashera, New Delhi, Delhi 110037
      