.fh5co-event.fh5co-bg#events(style='background-image:url(images/ganesh_blur.jpg);')
    .overlay(style="background: rgba(0,0,0,0.86")
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
          span You are cordially invited to be a part of our wedding celebrations
          h2 Wedding Events
      .row
        .display-t
          .display-tc
            .col-md-10.col-md-offset-1
              .col-md-6.col-sm-6.text-center
                .event-wrap.animate-box
                  h3 Sangeet Night
                  .event-col
                    i.icon-clock
                    span 7:30 PM
                    span onwards
                  .event-col
                    i.icon-calendar
                    span Friday 8
                    span March, 2018
                  <div class="resort_name">Calista Resort</div>
                  p
                    | 37/2-4 Old, NH 48, Kapashera, New Delhi, Delhi 110037
              .col-md-6.col-sm-6.text-center
                .event-wrap.animate-box
                  h3 Wedding
                  .event-col
                    i.icon-clock
                    span 5:30 PM
                    span onwards
                  .event-col
                    i.icon-calendar
                    span Saturday 9
                    span March, 2018
                  <div class="resort_name">Calista Resort</div>
                  p
                    | 37/2-4 Old, NH 48, Kapashera, New Delhi, Delhi 110037
  
