#fh5co-event.fh5co-bg(style='background-image:url(images/img_bg_3.jpg);')
        .overlay
        .container
          .row
            .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
              span Our Special Events
              h2 Wedding Events
          .row
            .display-t
              .display-tc
                .col-md-10.col-md-offset-1
                  .col-md-6.col-sm-6.text-center
                    .event-wrap.animate-box
                      h3 Main Ceremony
                      .event-col
                        i.icon-clock
                        span 4:00 PM
                        span 6:00 PM
                      .event-col
                        i.icon-calendar
                        span Monday 28
                        span November, 2016
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  .col-md-6.col-sm-6.text-center
                    .event-wrap.animate-box
                      h3 Wedding Party
                      .event-col
                        i.icon-clock
                        span 7:00 PM
                        span 12:00 AM
                      .event-col
                        i.icon-calendar
                        span Monday 28
                        span November, 2016
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      