// start events-section
section#events.events-section.section-padding
  .container
    .row
      .col.col-xs-12
        .section-title
          .vertical-line
            span
              i.fi.flaticon-two
          h2 Wedding events
    // end section-title
    .row
      .col.col-lg-10.col-lg-offset-1
        .event
          .img-holder
            img.img.img-responsive(src='./images/img-1(2).jpg', alt='')
          .details
            h3 Sangeet Night
            ul
              li
                i.fa.fa-map-marker
                |  37/2-4 Old, NH 48, Kapashera, New Delhi, Delhi 110037
              li
                i.fa.fa-clock-o
                |  Mar 08 2018, 7:30PM
            p
              | when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            a.see-location-btn.popup-gmaps(href='https://www.google.com/maps/place/Calista+Resort/@28.5200261,77.0833312,15z/data=!4m2!3m1!1s0x0:0xf80072a62212bf11?ved=2ahUKEwiMmeKY-MLfAhVJuI8KHZlGA6YQ_BIwCnoECAYQCA')
              | See location 
              i.fa.fa-angle-right
        .event
          .img-holder
            img.img.img-responsive(src='./images/img-2(2).jpg', alt='')
          .details
            h3 Wedding party
            ul
              li
                i.fa.fa-map-marker
                |  37/2-4 Old, NH 48, Kapashera, New Delhi, Delhi 110037
              li
                i.fa.fa-clock-o
                |  Mar 09 2018, 4:30PM
            p
              | when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            a.see-location-btn.popup-gmaps(href='https://www.google.com/maps/place/Calista+Resort/@28.5200261,77.0833312,15z/data=!4m2!3m1!1s0x0:0xf80072a62212bf11?ved=2ahUKEwiMmeKY-MLfAhVJuI8KHZlGA6YQ_BIwCnoECAYQCA')
              | See location 
              i.fa.fa-angle-right
    // end row
    // end container
// end events-section
