nav.fh5co-nav#sticker(role='navigation')
  .container
    .row
      .col-xs-2
        #fh5co-logo
          a(href='index.html')
            | #ReGa
            strong .
      .col-xs-10.text-right.menu-1
        ul
          li
            a(href='index.html') Home
          li
            a(href='#us') Us
          li
            a(href='#story') Story
          li
            a(href='#events') Events
          li
            a(href='#venue') Venue
          li
            a(href='#rsvp') RSVP
          li
            a(href='#family') Family
          li
            a(href='#memories') Upload Memories
