nav.fh5co-nav(role='navigation')
    .container
      .row
        .col-xs-2
          #fh5co-logo
            a(href='index.html')
              | #ReGa
              strong .
        //- .col-xs-10.text-right.menu-1
        //-   ul
        //-     li.active
        //-       a(href='index.html') Home
        //-     li
        //-       a(href='about.html') Story
        //-     //- li
        //-     //-   a(href='contact.html') Contact
