#family.fh5co-gallery.fh5co-section-gray
  .container
    .row
      .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
        h2 LadkeWale
    .row.row-bottom-padded-md
      .col-md-12
        ul.fh5co-gallery-list
          li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/popinlaw.jpg); ')
            a(href='images/gallery-1.jpg')
              .case-studies-summary
                span Father
                h2 Achal Vaid
          li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/mominlaw.jpg); ')
            a.color-2(href='#')
              .case-studies-summary
                span Mother
                h2 Rajesh Vaid
          li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/bro.jpg); ')
            a.color-3(href='#')
              .case-studies-summary
                span Brother
                h2 Gaurav Vaid
          li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/sisinlaw.jpg); ')
            a.color-4(href='#')
              .case-studies-summary
                span Sister-in-law
                h2 Shruti Vaid
          li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/reyna.jpg); ')
            a.color-4(href='#')
              .case-studies-summary
                span Mota Vaid
                h2 Reyna Vaid          
          li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/kaira.jpg); ')
            a.color-4(href='#')
              .case-studies-summary
                span Chota Vaid
                h2 Kaira Vaid
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box.mt-4
          br
          h2 LadkiWale
      .row.row-bottom-padded-md
        .col-md-12
          ul.fh5co-gallery-list
            li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/dad.jpg); ')
              a(href='images/gallery-1.jpg')
                .case-studies-summary
                  span Father
                  h2 Ravi BS
            li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/mom.jpg); ')
              a.color-2(href='#')
                .case-studies-summary
                  span Mother
                  h2 Indrani
            li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/roshni.jpg); ')
              a.color-3(href='#')
                .case-studies-summary
                  span Sister
                  h2 Roshni
