// start of hero
section.hero
  .hero-slider.hero-slider-s1.slick-initialized.slick-slider.slick-dotted(role='toolbar')
    button.slick-prev.slick-arrow(type='button', style='display: block;') Previous
    .slick-list.draggable(aria-live='polite')
      .slick-track(style='opacity: 1; width: 2860px;', role='listbox')
        .slide-item.slick-slide.slick-current.slick-active(data-slick-index='0', style='background-image: url("images/slider/slide-1.jpg"); background-size: cover; background-position: top center; width: 1430px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;', aria-hidden='false', tabindex='-1', role='option', aria-describedby='slick-slide00')
          img.slider-bg(src='./images/slider/slide-1.jpg', alt='')
        .slide-item.slick-slide(data-slick-index='1', style='background-image: url("images/slider/slide-2.jpg"); background-size: cover; background-position: top center; width: 1430px; position: relative; left: -1430px; top: 0px; z-index: 998; opacity: 0;', aria-hidden='true', tabindex='-1', role='option', aria-describedby='slick-slide01')
          img.slider-bg(src='./images/slider/slide-2.jpg', alt='')
    button.slick-next.slick-arrow(type='button', style='display: block;') Next
    ul.slick-dots(style='display: block;', role='tablist')
      li#slick-slide00.slick-active(aria-hidden='false', role='presentation', aria-selected='true', aria-controls='navigation00')
        button(type='button', data-role='none', role='button', tabindex='0') 1
      li#slick-slide01(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation01')
        button(type='button', data-role='none', role='button', tabindex='0') 2
  .wedding-announcement
    .couple-name-merried-text
      h2.wow.slideInUp(data-wow-duration='1s', style='visibility: visible; animation-duration: 1s; animation-name: slideInUp;') Gautam & Ravi
      .married-text.wow.fadeIn(data-wow-delay='1s', style='visibility: visible; animation-delay: 1s; animation-name: fadeIn;')
        h4
          span.wow.fadeInUp(data-wow-delay='1.05s', style='visibility: visible; animation-delay: 1.05s; animation-name: fadeInUp;') W
          span.wow.fadeInUp(data-wow-delay='1.10s', style='visibility: visible; animation-delay: 1.1s; animation-name: fadeInUp;') e
          span.wow.fadeInUp(data-wow-delay='1.15s', style='visibility: visible; animation-delay: 1.15s; animation-name: fadeInUp;') '
          span.wow.fadeInUp(data-wow-delay='1.20s', style='visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;') r
          span.wow.fadeInUp(data-wow-delay='1.25s', style='visibility: visible; animation-delay: 1.25s; animation-name: fadeInUp;') e
          span  
          span.wow.fadeInUp(data-wow-delay='1.30s', style='visibility: visible; animation-delay: 1.3s; animation-name: fadeInUp;') g
          span.wow.fadeInUp(data-wow-delay='1.35s', style='visibility: visible; animation-delay: 1.35s; animation-name: fadeInUp;') e
          span.wow.fadeInUp(data-wow-delay='1.40s', style='visibility: visible; animation-delay: 1.4s; animation-name: fadeInUp;') t
          span.wow.fadeInUp(data-wow-delay='1.45s', style='visibility: visible; animation-delay: 1.45s; animation-name: fadeInUp;') t
          span.wow.fadeInUp(data-wow-delay='1.50s', style='visibility: visible; animation-delay: 1.5s; animation-name: fadeInUp;') i
          span.wow.fadeInUp(data-wow-delay='1.55s', style='visibility: visible; animation-delay: 1.55s; animation-name: fadeInUp;') n
          span.wow.fadeInUp(data-wow-delay='1.60s', style='visibility: visible; animation-delay: 1.6s; animation-name: fadeInUp;') g
          span  
          span.wow.fadeInUp(data-wow-delay='1.65s', style='visibility: visible; animation-delay: 1.65s; animation-name: fadeInUp;') m
          span.wow.fadeInUp(data-wow-delay='1.70s', style='visibility: visible; animation-delay: 1.7s; animation-name: fadeInUp;') a
          span.wow.fadeInUp(data-wow-delay='1.75s', style='visibility: visible; animation-delay: 1.75s; animation-name: fadeInUp;') r
          span.wow.fadeInUp(data-wow-delay='1.80s', style='visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;') r
          span.wow.fadeInUp(data-wow-delay='1.85s', style='visibility: visible; animation-delay: 1.85s; animation-name: fadeInUp;') i
          span.wow.fadeInUp(data-wow-delay='1.90s', style='visibility: visible; animation-delay: 1.9s; animation-name: fadeInUp;') e
          span.wow.fadeInUp(data-wow-delay='1.95s', style='visibility: visible; animation-delay: 1.95s; animation-name: fadeInUp;') d
    .save-the-date.popup-save-the-date
      h4 Save the date
      span.date 09 MARCH 2018
// end of hero slider
