// start story-section
section#story.story-section.section-padding
  .container
    .row
      .col.col-xs-12
        .section-title
          .vertical-line
            span
              i.fi.flaticon-two
          h2 Our love story
    // end section-title
    .row
      .col.col-xs-12
        .story-timeline
          .row
            .col.col-md-6
              .story-text.right-align-text
                h3 First meet
                span.date Jan 12 2017
                p
                  | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
            .col.col-md-6
              .img-holder
                img.img.img-responsive(src='./images/img-1(1).jpg', alt='')
          .row
            .col.col-md-6
              .img-holder.right-align-text.story-slider.owl-carousel.owl-theme.owl-loaded
                .owl-stage-outer
                  .owl-stage(style='transform: translate3d(-1760px, 0px, 0px); transition: all 1s ease 0s; width: 2640px;')
                    .owl-item.cloned(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-2(1).jpg', alt='')
                    .owl-item.cloned(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-3.jpg', alt='')
                    .owl-item(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-2(1).jpg', alt='')
                    .owl-item(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-3.jpg', alt='')
                    .owl-item.cloned.active(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-2(1).jpg', alt='')
                    .owl-item.cloned(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-3.jpg', alt='')
                .owl-controls
                  .owl-nav
                    .owl-prev(style='display: none;') prev
                    .owl-next(style='display: none;') next
                  .owl-dots(style='display: none;')
            .col.col-md-6.text-holder
              span.heart
                i.fa.fa-heart
              .story-text
                h3 First date
                span.date Feb 14 2017
                p
                  | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
          .row
            .col.col-md-6.text-holder.right-heart
              span.heart
                i.fa.fa-heart
              .story-text.right-align-text
                h3 Proposal
                span.date Apr 14 2017
                p
                  | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
            .col.col-md-6
              .img-holder.right-align-text.story-slider.owl-carousel.owl-theme.owl-loaded
                .owl-stage-outer
                  .owl-stage(style='transform: translate3d(-1760px, 0px, 0px); transition: all 1s ease 0s; width: 2640px;')
                    .owl-item.cloned(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-7.jpg', alt='')
                    .owl-item.cloned(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-5.jpg', alt='')
                    .owl-item(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-7.jpg', alt='')
                    .owl-item(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-5.jpg', alt='')
                    .owl-item.cloned.active(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-7.jpg', alt='')
                    .owl-item.cloned(style='width: 440px; margin-right: 0px;')
                      img.img.img-responsive(src='./images/img-5.jpg', alt='')
                .owl-controls
                  .owl-nav
                    .owl-prev(style='display: none;') prev
                    .owl-next(style='display: none;') next
                  .owl-dots(style='display: none;')
          .row
            .col.col-md-6
              .img-holder.video-holder
                img.img.img-responsive(src='./images/img-8.jpg', alt='')
            .col.col-md-6.text-holder
              span.heart
                i.fa.fa-heart
              .story-text
                h3 Enagagement
                span.date Jul 14 2017
                p
                  | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
    // end row
    // end container
// end story-section
